<div data-testid="activation-page">
    <span
      *ngIf="activationStatus==='inProgress'"
      class="spinner-border spinner-border-sm" role="status"
    ></span>
  <app-alert *ngIf="activationStatus==='success'" type="success">
    Account is activated
  </app-alert>
  <app-alert *ngIf="activationStatus==='fail'" type="danger">
    Activation failure
  </app-alert>
</div>
