<div class="card text-center">
  <div class="card-header">
    <img src="assets/profile.png" width="200" height="200"
         class="rounded-circle shadow">
  </div>
  <div class="card-body">
    <h3>{{user.username}}</h3>
  </div>
</div>
