<nav class="navbar navbar-expand navbar-light bg-light shadow-sm">
  <div class="container">
    <a class="navbar-brand" routerLink="/" title="Home">
      Home
    </a>
    <ul class="navbar-nav">
      <a
        *ngIf="!authenticationService.loggedInUser.isLoggedIn"
        class="nav-link"
        routerLink="/signup"
        title="Sign Up"
      >Sign Up</a
      >
      <a
        *ngIf="!authenticationService.loggedInUser.isLoggedIn"
        class="nav-link"
        routerLink="/login"
        title="Login"
      >Login</a
      >
      <a
        *ngIf="authenticationService.loggedInUser.isLoggedIn"
        class="nav-link"
        [routerLink]="'/user/' + authenticationService.loggedInUser.id"
        title="My Profile"
      >My Profile</a
      >
      <span
        *ngIf="authenticationService.loggedInUser.isLoggedIn"
        class="nav-link"
        title="Logout"
        (click)="logout()"
      >Logout</span
      >
    </ul>
  </div>
</nav>
